@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  max-width: 95rem;
  margin: 0 auto;
}

.color-primary {
  color: #543cd9;
}

.flex-row {
  display: flex;
}

.flex-center {
  justify-content: center;
}

.section-padding {
  padding: 20rem 2rem 0 2rem;
}

h2 {
  font-size: 3.2rem;
  font-weight: 600;
  margin-bottom: 3.2rem;
}

h3 {
  font-weight: 600;
  font-size: 2rem;
}

p {
  font-size: 2rem;
  font-weight: 400;
}

nav {
  max-width: 65rem;
  margin: 0 auto;
}
nav .main-nav {
  display: flex;
  justify-content: space-around;
  padding-top: 0.75rem;
}
nav .main-nav li {
  list-style: none;
}
nav .main-nav__link:link, nav .main-nav__link:visited {
  text-decoration: none;
  font-weight: 600;
  font-size: 2rem;
  color: #0A0430;
  transition: all 0.3s;
}
nav .main-nav__link:hover, nav .main-nav__link:active {
  color: #543cd9;
}

.home__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.home__link-container {
  margin-top: 3.5rem;
  display: flex;
  gap: 2rem;
}
.home h1 {
  font-size: 6.4rem;
  line-height: 1;
}
.home__profession {
  font-size: 3.2rem;
  font-weight: 600;
}
.home .avatar {
  height: 20rem;
}

.link:link, .link:visited, .link:hover, .link:active {
  text-decoration: none;
  padding: 0.8rem 1.6rem;
  font-size: 2rem;
  font-weight: 600;
}
.link--primary {
  color: #fff;
  background-color: #543cd9;
}
.link--secondary {
  border: 1px solid #543cd9;
  color: #0A0430;
}

.about-me__container {
  display: flex;
  justify-content: space-between;
  gap: 5rem;
  align-items: center;
}
.about-me__text {
  font-size: 2rem;
  line-height: 1.5;
}
.about-me__icon {
  height: 20rem;
}
.about-me__social-icon-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3rem;
}
.about-me__social-icon-container .icon-container {
  display: flex;
  gap: 2rem;
}
.about-me__social-icon-container img {
  height: 30px;
}

.skills__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.skills ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
  font-size: 2rem;
  font-weight: 600;
  list-style: none;
}
.skills .skill-icon {
  height: 20rem;
  fill: #543cd9;
}

.experience__container {
  display: flex;
  justify-content: space-between;
  gap: 5rem;
  align-items: center;
}
.experience__container img {
  height: 20rem;
}
.experience__container .work-duration {
  font-size: 1.5rem;
  font-weight: 600;
  color: #7f7f7f;
}
.experience__container article {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
.experience__container .work-detail {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.5;
}
.experience__container .work-detail p {
  margin-bottom: 1.5rem;
}

.personal-projects__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5rem;
}
.personal-projects .view-all {
  margin-top: 4.5rem;
}

.card {
  height: 30rem;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 1.5rem;
  border: 1px solid #543cd9;
  box-shadow: 5px 5px 15px 0 rgb(153, 133, 141);
}
.card__icon-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5rem;
}
.card__icon-container img {
  height: 25px;
}
.card__icon-container div:nth-of-type(2) {
  display: flex;
  gap: 2rem;
}
.card__details-container h4 {
  font-weight: 600;
  font-size: 2.2rem;
  margin-bottom: 2rem;
}
.card__details-container p {
  font-size: 1.8rem;
  margin-bottom: 3rem;
}
.card__details-container .tag {
  background-color: #f1f3f5;
  border-radius: 5000px;
  padding: 5px 15px;
  margin-right: 15px;
  font-size: 1.5rem;
  font-weight: 400;
}

/*# sourceMappingURL=style.css.map */
