@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Poppins', sans-serif;
  max-width: 95rem;
  margin: 0 auto;
}

.color-primary {
  color: $color-primary;
}

.flex-row {
  display: flex;
}

.flex-center {
  justify-content: center;
}

.section-padding {
  padding: 20rem 2rem 0 2rem;
}

h2 {
  font-size: $font-size-lg;
  font-weight: $font-weight-semibold;
  margin-bottom: 3.2rem;
}