.about-me {

  h2 {
    font-size: $font-size-lg;
    font-weight: $font-weight-semibold;
    margin-bottom: 3.2rem;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    gap: 5rem;
    align-items: center;
  }

  &__text {
    font-size: $font-size-md;
    line-height: 1.5;
  }

  &__icon {
    height: 20rem;
  }
}