.about-me {

  &__container {
    display: flex;
    justify-content: space-between;
    gap: 5rem;
    align-items: center;
  }

  &__text {
    font-size: $font-size-md;
    line-height: 1.5;
  }

  &__icon {
    height: 20rem;
  }

  &__social-icon-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3rem;

    .icon-container {
      display: flex;
      gap: 2rem;
    }

    img {
      height: 30px;
    }
  }
}